{% extends "inventario/comun/base.html" %}

{% block content %}
<article class="content forms-page">
	    <div class="title-block">
          <h3 class="title">Importar BDD</h3>
          <p class="title-description">Cargue el archivo con la nueva base de datos</p>
        </div>
<section class="section">
    <div class="row sameheight-container">
	<div class="col-md-12">

		{% if messages %}
        {% for message in messages %}
        {% if message.level == 40 %}

         <div class="card card-warning">
            <div class="card-header"> 
                <div class="header-block">
                    <em class="fa fa-warning"></em>
                    <p class="title">{{ message }}</p>
                    </div>
                </div>
         </div>

		{% else %}
		 <div class="card card-primary">
            <div class="card-header"> 
            	<div class="header-block">
            		<em class="fa fa-check"></em>
                        <p class="title">{{ message }}</p>
                    </div>
                </div>
         </div>

         {% endif %}
         {%endfor%}
		{%endif%}


		<div class="card card-block sameheight-item">
			<form role="form" method="POST" enctype="multipart/form-data">
			{% csrf_token %}


          <div class="form-group">
          <div class="custom-file">
          {{form.archivo}}
          <label class="custom-file-label" for="customFile">Archivo de la base de datos a subir....</label>
          </div>
        </div>  

		<div class="form-group">
            <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>
			</form>
		</div>
	</div>
	</div>
</section>
</article>
{% endblock %}