{% load static %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Sistema de inventario</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href='{% static "inventario/css/vendor.css" %}'>

        <link rel="stylesheet" id="theme-style" href="{% static 'inventario/css/app.css' %}">

        <link rel="stylesheet" href="{% static 'inventario/css/Ionicons/css/ionicons.css' %}">

        <link rel="stylesheet" href="{% static 'inventario/css/datatables.net-bs/css/dataTables.bootstrap4.css' %}">

        <link rel="stylesheet" href="{% static 'inventario/css/alertify-css/alertify.css' %}">

        <style>
            .error-personal
            {
                color: #fff;
                background: rgba(250, 0, 0, 0,95);
                text-shadow: -1px -1px 0 rgba(0, 0, 0, 0,5);
            }
        </style>
        
    </head>
