                <header class="header">
                    <div class="header-block header-block-collapse d-lg-none d-xl-none">
                        <button class="collapse-btn" id="sidebar-collapse-btn">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>

                    <div class="header-block header-block-nav">
                        <ul class="nav-profile">
                        <!-- NOTIFICACIONES -->        

                        <!-- FIN DE LAS NOTIFICACIONES -->

                        <!-- NOMBRE DEL USUARIO ACTUAL -->
                            <li class="profile dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <!--
                                    <div class="img" style="background-image: url('https://avatars3.githubusercontent.com/u/3959008?v=3&s=40')"> </div>
                                    -->
                                    <em class="fa fa-user"></em>
                                    <span class="name"> {{ usuario }} </span>
                                </a>
                                <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <a class="dropdown-item" href="/inventario/perfil/ver/{{ id_usuario }}">
                                        <i class="fa fa-user icon"></i> Perfil </a>
                                        <!--
                                    <a class="dropdown-item" href="/inventario/notificaciones">
                                        <i class="fa fa-bell icon"></i> Notificaciones </a> -->
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/inventario/salir">
                                        <i class="fa fa-power-off icon"></i> Cerrar sesion </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </header>