                <aside class="sidebar">
                    <div class="sidebar-container">
                        <div class="sidebar-header">
                            <div class="brand">
                                
                                <div class="logo-nuevo">
                        {% load static %} 
                        <img id="logo-endogeno" src="{% static 'inventario/assets/logo/logo2.png' %}">
                                </div> Administrador </div>
                        </div>

                        <nav class="menu">
                            <ul class="sidebar-menu metismenu" id="sidebar-menu">
                                <li>
                                    <a href="/inventario/panel">
                                        <i class="fa fa-home"></i> Inicio </a>
                                </li>
                                <!-- Sub-menu de producto -->
                                <li>
                                    <a href="">
                                        <i class="fa fa-shopping-basket"></i> Producto
                                        <i class="fa arrow"></i>
                                    </a>
                                    <ul class="sidebar-nav">
                                        <li><a href="/inventario/listarProductos"><i class="fa fa-ellipsis-h"></i>Listar productos</a></li>
                                        <li><a href="/inventario/agregarProducto"><i class="fa fa-plus"></i>Agregar producto</a></li>
                                    </ul>
                                </li>
                                <!--Fin de sub-menu de producto -->



                                <!-- Sub-menu de proveedor -->    
                                <li>
                                    <a href="">
                                        <i class="fa fa-book"></i>Proveedor
                                        <i class="fa arrow"></i>
                                    </a>
                                    <ul class="sidebar-nav">
           <li><a href="/inventario/listarProveedores"><i class="fa fa-ellipsis-h"></i>Listar proveedores</a></li>                            
            <li><a href="/inventario/agregarProveedor"><i class="fa fa-plus"></i>Agregar proveedor</a></li>
                                    </ul>
                                </li>
                                <!-- Fin de sub-menu de proveedor -->
                                                                


                                <!-- Sub-menu de pedido -->
                                <li>
                                    <a href="">
                                        <i class="fa fa-gift"></i>Pedido
                                        <i class="fa arrow"></i>
                                    </a>
                                    <ul class="sidebar-nav">
<li><a href="/inventario/listarPedidos"><i class="fa fa-ellipsis-h"></i>Listar pedidos</a></li>
<li><a href="/inventario/agregarPedido"><i class="fa fa-plus"></i>Añadir pedido</a></li>

                                    </ul>
                                    </li>
                                <!-- Fin de sub-menu de pedido -->


                                <!-- Sub-menu de clientes-->
                                <li>
                                    <a href="">
                                        <i class="fa fa-handshake-o"></i>Clientes
                                        <i class="fa arrow"></i>
                                    </a>
                                    <ul class="sidebar-nav">

           <li><a href="/inventario/listarClientes"><i class="fa fa-ellipsis-h"></i>Listar clientes</a></li>                            
            <li><a href="/inventario/agregarCliente"><i class="fa fa-plus"></i>Agregar cliente</a></li>
 
                                    </ul>
                                </li>
                                <!-- Fin de sub-menu de clientes -->

                                <!-- Sub-menu de factura-->
                                <li>
                                    <a href="">
                                        <i class="fa fa-ticket"></i>Factura
                                        <i class="fa arrow"></i>
                                    </a>
                                    <ul class="sidebar-nav">
            <li><a href="/inventario/listarFacturas"><i class="fa fa-ellipsis-h"></i>Listar facturas</a></li>
            <li><a href="/inventario/emitirFactura"><i class="fa fa-money"></i>Emitir factura</a></li>

                                    </ul>
                                </li>
                                <!-- Fin de sub-menu de factura -->
                                
                                
                                <!-- Sub-menu de usuarios -->
                                <li>
                                    <a href="">
                                        <i class="fa fa-users"></i> Usuarios
                                        <i class="fa arrow"></i>
                                    </a>
                                    <ul class="sidebar-nav">
            <li><a href="/inventario/crearUsuario"><i class="fa fa-circle-o"></i>Crear usuario</a></li>
            <li><a href="/inventario/listarUsuarios"><i class="fa fa-circle-o"></i>Listar usuarios</a></li>                                 </ul>
                                </li>
                                <!--Fin de sub-menu de usuarios -->

                                <!-- Sub-menu de opciones-->
                                <li>
                                    <a href="">
                                        <i class="fa fa-cog"></i> Opciones
                                        <i class="fa arrow"></i>
                                    </a>
                                    <ul class="sidebar-nav">
            <li><a href="/inventario/importarBDD"><i class="fa fa-file-o"></i>Importar base de datos</a></li>
            <li><a href="/inventario/descargarBDD"><i class="fa fa-download"></i>Descargar base de datos</a></li>
            <li><a href="/inventario/configuracionGeneral"><i class="fa fa-gear"></i>Configuracion general</a></li>

                    </ul>
                                </li>
                                 <!--Fin de sub-menu de opciones -->


                                <!-- Sub-menu de manual de usuario-->

                                <li>
                                    <a href="">
                                        <i class="fa fa-book"></i> Manual de usuario
                                        <i class="fa arrow"></i>
                                    </a>
                                    <ul class="sidebar-nav">
                                
                                    {% load static %}
                                    <!--
                                <li>
                                    <a href="{% static 'inventario/manual.pdf' %}" download>
                                        <i class="fa fa-download"></i> Descargar manual de usuario (PDF)
                                        
                                    </a>
                                </li>
                            -->

            <li><a href="/inventario/verManualDeUsuario/inicio"><i class="fa fa-eye"></i>Ver manual de usuario</a></li>

                                    </ul>
                                </li>

                                 <!--Fin de sub-menu de manual de usuario -->

                                  <!-- -->
                            </ul>
                        </nav>
                    </div>
                </aside>