{% extends "inventario/comun/base.html" %}

{% block content %}
<article class="content forms-page">
	    <div class="title-block">
          <h3 class="title">Exportar clientes</h3>
          <p class="title-description">Recupere los clientes ingresados</p>
        </div>
<section class="section">
    <div class="row sameheight-container">
	<div class="col-md-12">
		{% if clientesExportados %}
		 <div class="card card-primary">
            <div class="card-header"> 
            	<div class="header-block">
            		<em class="fa fa-check"></em>
                        <p class="title">Clientes recuperados exitosamente</p>
                    </div>
                </div>
         </div>
		{%endif%}

		<div class="card card-block sameheight-item">
			<form role="form" method="POST">
			{% csrf_token %}
				{% for field in form %}
				<div class="form-group">
				<label for="{{ field.name }}">
				{{field.label}}
				</label>
				{{field}}
				</div>
				{% endfor %}
		<div class="form-group">
            <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>
			</form>
		</div>
	</div>
	</div>
</section>
</article>
{% endblock %}